@use "normalize.css";
@use "base/variables";
@use "base/mixins";
@use "blocks/promo.scss";
@use "blocks/header.scss";
@use "blocks/buttons.scss";
@use "blocks/advantages.scss";
@use "blocks/consultation.scss";
@use "blocks/forms.scss";
@use "blocks/slider.scss";
@use "blocks/catalog.scss";
@use "blocks/feedback.scss";
@use "blocks/footer.scss";
@use "blocks/modal.scss";
* {
  font-family: "MuseoModerno", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}
