@use "normalize.css";
@use "base/variables";
@use "base/mixins";
@use "blocks/promo.scss";
@use "blocks/header.scss";
@use "blocks/buttons.scss";
* {
  font-family: "MuseoModerno", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}
